header {
    height: 45px;
    background: #A4D3E0;
    margin-right: 100px;
}
body{
    margin: 0;
    min-width:600px;
}

ul{
    border: 3px solid #00b0ff;
    width: 200px;
    margin: auto;
    margin-left: 50px;
}
.description{
    background: white;
    border: 3px solid #00b0ff;
    margin-left: 15mm;
    margin-right: 15mm;
    padding: 10px;
    box-sizing: content-box;
}

